/* General tags */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    background-color: #00171F;
    width: 100%;
    height: 13vh;
    flex-wrap: wrap;
}

.title {
    color: white;
    margin-left: 5vw;
}

.title h1 {
    font-size: 2vh;
}

.title h1:nth-of-type(2) {
    font-size: 4.5vh;
}

h1.hamburger {
    color: white;
    font-size: 5vh;
    margin-right: 5vw;
    font-weight: normal;
}

.splitter {
    width: 100%;
    height: 0.5vh;
    background-color: #00A8E8;
}

/* Front page */
main {
    width: 100%;
    height: 600px;
    background-color: #003459;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circular-image {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #007EA7;
    box-shadow: 0 0px 10px -2px black;
}

.circular-image img {
    width: 100%;
}

.about {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: auto;
    border-radius: 30px;
    background-color: #8ECAE6;
    box-shadow: 0 0px 10px -2px black;
}

.about p {
    margin: 5%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 140%;
}

.about p:nth-of-type(2) {
    margin-top: 0px;
    margin-bottom: 7%;
}

/* Projects */
#projects {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag {
    padding: 5px;
    background-color: ghostwhite;
    color: black;
    font-size: 12px;
    font-weight: bolder;
    margin: 8%;
    margin-top: 15%;
    margin-bottom: 0%;
}

.project-title {
    font-size: xx-large;
    margin: 8%;
    margin-top: 3%;
}

.project-desc {
    font-size: large;
    line-height: 175%;
    margin: 8%;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.see-more {
    width: 126px;
    padding: 15px;
    background-color: black;
    color: whitesmoke;
    font-weight: bolder;
    margin: 8%;
    margin-bottom: 15%;
}

.pong {
    margin: 5%;
    margin-top: 0%;
    background-color: #1C2335;
    color: whitesmoke;
}

.pong-img img {
    width: 100%;
}

.pong .tag {
    width: 86px;
}

.beer-and-bear {
    margin: 5%;
    margin-top: 0%;
    background-color: #FDBA17;
    color: black;
}

.bnb-img img {
    width: 100%;
}

.beer-and-bear .tag {
    width: 79px;
}

.lowatem {
    margin: 5%;
    margin-top: 0%;
    background-color: #656D4A;
    color: black;
}

.lowatem-img img {
    width: 100%;
}

.lowatem .tag {
    width: 171px;
}

#projects>div {
    box-shadow: 0 0px 10px -2px black;
}

/* Contact */
#contact div:nth-of-type(2) {
    height: 10vh;
    background: #00171F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact a {
    font-weight: bold;
    font-size: 125%;
}

/* iPhone SE landscape */
@media screen and (min-width: 667px) and (orientation: landscape) {
    main {
        height: 360px;
    }

    .circular-image {
        width: 150px;
        height: 150px;
        margin-top: 3.5%;
        margin-bottom: 3.5%;
    }

    .about {
        font-size: 9px;
    }

    .about p:nth-of-type(1) {
        margin-top: 3%;
        margin-bottom: 2%;
    }

    .about p:nth-of-type(2) {
        margin-bottom: 3%;
    }

    .tag {
        font-size: 9px;
        margin-top: 5%;
    }

    .project-title {
        font-size: 18px;
        margin-bottom: 3%;
    }

    .project-desc {
        margin-top: 3%;
        margin-bottom: 0%;
        font-size: 9px;
        width: 60%;
    }

    .see-more {
        font-size: 10px;
        width: 78px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .pong {
        margin: 0;
        margin-top: 5%;
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    .pong-img {
        width: 150%;
    }

    .pong-img img {
        height: 100%;
    }

    .pong .tag {
        width: 65px;
    }

    .beer-and-bear {
        margin: 0;
        margin-top: 5%;
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    .bnb-img {
        width: 86%;
    }

    .bnb-img img {
        height: 100%;
    }

    .beer-and-bear .tag {
        width: 60px;
    }

    .lowatem {
        margin: 0;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    .lowatem-img {
        width: 142%;
    }

    .lowatem-img img {
        height: 100%;
    }

    .lowatem .tag {
        width: 135px;
    }

    #contact div:nth-of-type(2) {
        height: 15vh;
    }

    #contact a {
        font-size: smaller;
    }
}

/* iPhone X/XS landscape */
@media screen and (min-width: 810px) and (orientation: landscape) {
    .tag {
        font-size: 10px;
    }

    .project-title {
        font-size: 22px;
    }

    .project-desc {
        font-size: 10px;
    }

    .see-more {
        font-size: 13px;
        width: 101px;
    }

    .pong .tag {
        width: 75px;
    }

    .beer-and-bear .tag {
        width: 67px;
    }

    .lowatem .tag {
        width: 150px;
    }
}

/* iPhone 11 landscape */
@media screen and (min-width: 896px) and (orientation: landscape) {
    main {
        height: 370px;
    }

    .tag {
        font-size: 12px;
    }

    .project-title {
        font-size: 25px;
    }

    .project-desc {
        font-size: 12px;
    }

    .see-more {
        font-size: 15px;
        width: 115px;
    }

    .pong .tag {
        width: 87px;
    }

    .beer-and-bear .tag {
        width: 80px;
    }

    .lowatem .tag {
        width: 175px;
    }
}

/* iPad Mini portrait */
@media screen and (min-width: 768px) and (orientation: portrait) {
    main {
        height: 950px;
    }

    .circular-image {
        width: 350px;
        height: 350px;
    }

    .about {
        font-size: x-large;
    }

    .tag {
        font-size: 20px;
    }

    .project-title {
        font-size: 50px;
    }

    .project-desc {
        font-size: x-large;
    }

    .see-more {
        font-size: 25px;
        width: 197px;
    }

    .pong .tag {
        width: 145px;
    }

    .beer-and-bear .tag {
        width: 135px;
    }

    .lowatem .tag {
        width: 295px;
    }

    #contact a {
        font-size: 150%;
    }
}

/* iPad Mini landscape */
@media screen and (min-width: 1024px) and (orientation: landscape) {
    main {
        height: 665px;
    }

    .circular-image {
        width: 250px;
        height: 250px;
    }

    .about {
        font-size: x-large;
    }

    .tag {
        font-size: 15px;
    }

    .project-title {
        font-size: 28px;
    }

    .project-desc {
        font-size: 15px;
    }

    .see-more {
        font-size: 18px;
        width: 142px;
    }

    .pong .tag {
        width: 108px;
    }

    .beer-and-bear .tag {
        width: 102px;
    }

    .lowatem .tag {
        width: 215px;
    }

    #contact a {
        font-size: x-large;
    }
}

/* iPad portrait */
@media screen and (min-width: 810px) and (orientation: portrait) {
    .about {
        font-size: 28px;
    }
}

/* iPad landscape */
@media screen and (min-width: 810px) and (orientation: landscape) {
    main {
        height: 725px;
    }
}

/* iPad Air portrait */
@media screen and (min-width: 820px) and (orientation: portrait) {
    main {
        height: 1050px;
    }
}

/* iPad Pro 12.9-inch portrait */
@media screen and (min-width: 1024px) and (orientation: portrait) {
    main {
        height: 1200px;
    }

    .circular-image {
        width: 400px;
        height: 400px;
    }

    .about {
        font-size: 35px;
    }

    .tag {
        font-size: 25px;
    }

    .project-title {
        font-size: 60px;
    }

    .project-desc {
        font-size: xx-large;
    }

    .see-more {
        font-size: 35px;
        width: 278px;
    }

    .pong .tag {
        width: 182px;
    }

    .beer-and-bear .tag {
        width: 170px;
    }

    .lowatem .tag {
        width: 370px;
    }

    #contact a {
        font-size: 200%;
    }
}

/* iPad Pro 12.9-inch landscape */
@media screen and (min-width: 1366px) and (orientation: landscape) {
    main {
        height: 915px;
    }

    .circular-image {
        width: 350px;
        height: 350px;
    }

    .about {
        font-size: 30px;
    }

    .tag {
        font-size: 20px;
    }

    .project-title {
        font-size: 35px;
    }

    .project-desc {
        font-size: 20px;
    }

    .see-more {
        font-size: 23px;
        width: 185px;
    }

    .pong .tag {
        width: 150px;
    }

    .beer-and-bear .tag {
        width: 138px;
    }

    .lowatem .tag {
        width: 300px;
    }

    #contact a {
        font-size: xx-large;
    }
}

/* TODO: 1270 px for 15 inch */
/* Computer */
@media screen and (min-width: 1440px) and (orientation: landscape) {
    main {
        height: 771px;
    }

    .circular-image {
        width: 350px;
        height: 350px;
        margin-top: 3.5%;
        margin-bottom: 3.5%;
    }

    .about {
        width: 50vw;
        font-size: 22px;
    }

    .about p:nth-of-type(1) {
        margin-top: 3%;
        margin-bottom: 2%;
    }

    .about p:nth-of-type(2) {
        margin-bottom: 3%;
    }

    .project-title {
        font-size: 50px;
        margin-bottom: 3%;
    }

    .project-desc {
        margin-top: 3%;
        font-size: x-large;
        width: 60%;
    }

    .see-more {
        font-size: x-large;
        width: 189px;
        padding: 20px;
        margin-bottom: 5%;
    }

    .pong {
        margin: 0;
        margin-top: 5%;
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    .pong-img {
        width: 110%;
    }

    .pong-img img {
        height: 100%;
    }

    .pong .tag {
        font-size: larger;
        width: 19.5%;
        margin-top: 5%;
    }

    .beer-and-bear {
        margin: 0;
        margin-top: 5%;
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    .bnb-img {
        width: 62%;
    }

    .bnb-img img {
        height: 100%;
    }

    .beer-and-bear .tag {
        font-size: larger;
        width: 18%;
        margin-top: 5%;
    }

    .lowatem {
        margin: 0;
        margin-top: 5%;
        margin-bottom: 5%;
        width: 80%;
        display: flex;
        flex-direction: row;
    }

    .lowatem-img {
        width: 105%;
    }

    .lowatem-img img {
        height: 100%;
    }

    .lowatem .tag {
        font-size: larger;
        width: 40%;
        margin-top: 5%;
    }

    #contact div:nth-of-type(2) {
        height: 10vh;
    }

    #contact a {
        font-size: x-large;
    }
}