/* General tags */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, sans-serif;
}

/* Header */
#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    background-color: #00171F;
    width: 100%;
    height: 13vh;
    flex-wrap: wrap;
}

.title {
    color: white;
    margin-left: 5vw;
}

.title h1 {
    font-size: 2vh;
}

.title h1:nth-of-type(2) {
    font-size: 4.5vh;
}

h1.hamburger {
    color: white;
    font-size: 5vh;
    margin-right: 5vw;
    font-weight: normal;
}

.splitter {
    width: 100%;
    height: 0.5vh;
    background-color: #00A8E8;
}

/* Front page */
#main {
    width: 100%;
    height: 87vh;
    background-color: #003459;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circular-image {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #007EA7;
    box-shadow: 0 0px 10px -2px black;
}

.circular-image img {
    width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: auto;
    border-radius: 30px;
    background-color: #8ECAE6;
    box-shadow: 0 0px 10px -2px black;
}

.about p {
    margin: 5%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 140%;
}

.about p:nth-of-type(2) {
    margin-top: 0px;
    margin-bottom: 7%;
}

/* Projects */
#projects {
    width: 100%;
    height: 210vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag {
    padding: 5px;
    background-color: ghostwhite;
    color: black;
    font-size: 12px;
    font-weight: bolder;
    margin: 8%;
    margin-top: 15%;
    margin-bottom: 0%;
}

.project-title {
    font-size: xx-large;
    margin: 8%;
    margin-top: 3%;
}

.project-desc {
    font-size: large;
    line-height: 175%;
    margin: 8%;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

.see-more {
    width: 126px;
    padding: 15px;
    background-color: black;
    color: whitesmoke;
    font-weight: bolder;
    margin: 8%;
    margin-bottom: 15%;
}

.pong {
    margin: 5%;
    margin-top: 0%;
    background-color: #1C2335;
    color: whitesmoke;
}

.pong-img img {
    width: 100%;
}

.pong .tag {
    width: 86px;
}

.beer-and-bear {
    margin: 5%;
    margin-top: 0%;
    background-color: #FDBA17;
    color: black;
}

.bnb-img img {
    width: 100%;
}

.beer-and-bear .tag {
    width: 79px;
}

.lowatem {
    margin: 5%;
    margin-top: 0%;
    background-color: #656D4A;
    color: black;
}

.bnb-img img {
    width: 100%;
}

.lowatem .tag {
    width: 171px;
}

#projects>div {
    box-shadow: 0 0px 10px -2px black;
}

#contact div:nth-of-type(2) {
    height: 10vh;
    background: #00171F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact a {
    font-weight: bold;
    font-size: 125%;
}

@media screen and (min-width: 1440px) {
    .circular-image {
        width:350px;
        height:350px;
        margin-top: 3.5%;
        margin-bottom: 3.5%;
    }

    .about {
        width:50vw;
        font-size: 22px;
    }

    .about p:nth-of-type(1) {
        margin-top: 3%;
        margin-bottom: 2%;
    }

    .about p:nth-of-type(2) {
        margin-bottom: 3%;
    }

    .project-title {
        font-size: 50px;
        margin-bottom: 3%;
    }

    .project-desc {
        margin-top: 3%;
        font-size: x-large;
        width: 60%;
    }

    .see-more {
        font-size: x-large;
        width: 189px;
        padding: 20px;
        margin-bottom: 5%;
    }

    .pong {
        margin:0;
        margin-top: 5%;
        width: 80%;
        display:flex;
        flex-direction: row;
    }

    .pong-img {
        width: 110%;
    }

    .pong-img img {
        height:100%;
    }

    .pong .tag {
        font-size: larger;
        width: 19.5%;
        margin-top: 5%;
    }

    .beer-and-bear {
        margin:0;
        margin-top: 5%;
        width: 80%;
        display:flex;
        flex-direction: row;
    }

    .bnb-img {
        width: 62%;
    }

    .bnb-img img {
        height:100%;
    }

    .beer-and-bear .tag {
        font-size: larger;
        width: 18%;
        margin-top: 5%;
    }

    .lowatem {
        margin:0;
        margin-top: 5%;
        width: 80%;
        height:27%;
        display:flex;
        flex-direction: row;
    }

    .lowatem-img {
        width: 55%;
    }

    .lowatem-img img {
        height:100%;
    }

    .lowatem .tag {
        font-size: larger;
        width: 41%;
        margin-top: 5%;
    }

}