#projects hgroup {
    margin-bottom: 7vh;
}

#projects article {
    margin-top: 0;
    padding-top: 2vh;
}

.bg-image {
    height: 25vh;
}

#projects article div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects article div * {
    margin: 0 .5rem;
}

.projet1 {
    background-image: url(../images/netflop.jpg);
    background-position: center;
    background-size: cover;
}

.projet2 {
    background-image: url(../images/pong.png);
    background-position: center;
    background-size: cover;
}

.projet3 {
    background-image: url(../images/tourism_rentals.jpg);
    background-position: center;
    background-size: cover;
}

.projet4 {
    background-image: url(../images/lowatem.jpg);
    background-position: center;
    background-size: cover;
}

.projet5 {
    background-image: url(../images/beer&bear.jpg);
    background-position: center;
    background-size: cover;
}

.projet6 {
    background-image: url(../images/cbl_encryption.jpg);
    background-position: center;
    background-size: cover;
}

#card-bl {
    display: flex;
    align-items: center;
}

#card-bl .photo {
    height: 35vh;
    object-fit: cover;
    padding-right: 3%;
}

#card-bl blockquote {
    text-align: left;
}

#contact article {
    margin-top: 2vh;
}

#contact form {
    text-align: left;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    #projects article div {
        flex-direction: column;
    }

    #card-bl {
        flex-direction: column;
    }

    #card-bl .photo {
        padding-right: 0;
        height: 20vh;
        width: 20vh;
        border-radius: 50%;
    }

    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menuItem {
        display: block;
        margin: 1rem 4rem;
        font-size: 1.8rem;
        text-decoration: none;
    }

    .hamburger {
        display: block;
        width: auto;
        height: fit-content;
        margin-bottom: 0;
        padding: .75rem;
        border-radius: 2rem;
        z-index: 100;
    }

    .closeIcon {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        transform: translateY(-110%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: var(--contrast);
        list-style: none;
        padding-top: 4rem;
    }

    .showMenu {
        transform: translateY(0);
    }
}